@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  background: #fff;
}

.grid {
	display: grid;
}


.content {
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
}

.footer {
	grid-area: footer;
}

.title {
  font-size: 4rem;
  font-family: 'Courier New', monospace;
  text-shadow: 7px 7px #111111;
  margin-left: 15rem;
  text-align: center;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 200px;
  
}
li a {
  font-size: x-large;
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Courier New', monospace;
  box-shadow: 10px 30px 50px 10px rgb(0, 0, 0);
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.grid-template-areas-2 {
	grid-template-areas:
    "sidebar margin-top: 50px"
		"sidenav content content "
		"sidenav content content"
		"sidenav content content"
		;
}

.nav {
  height: 50px;
}
/*
.links {
  text-decoration: #111111;
  font-size: x-large;
  font-family: 'Courier New', monospace;
  text-shadow: 7px 7px #111111;
  color: inherit;
} */

.wrapper {
  animation: scroll 600s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  min-width: 360px;
  width: 80%;
  justify-content: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;

}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 2rem;
    margin-left: 2rem;
  }
}